@model ProjetoPilotoReboque.Models.FormularioAcionamento

@{
    ViewData["Title"] = "Excluir";
}

<h1>Deletar</h1>

<h3>Você têm certeza que deseja Excluir este Acionamento?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoAcionamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDoAcionamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeOcorrencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
