@model IEnumerable<ProjetoPilotoReboque.Models.FormularioAcionamento>


<br/>
<p>
    <a asp-action="Create" class="btn btn-success">Novo Acionamento</a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContratoNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDoAcionamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContratoNumero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteNomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDoAcionamento)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>

</table>